In [1]:
import pandas as pd

In [2]:
pwd

'C:\\Users\\user'

In [3]:
cd Documents

C:\Users\user\Documents

In [4]:
pwd

'C:\\Users\\user\\Documents'

In [5]:
df = pd.read_csv('txt.csv')

In [6]:
print (df.head(3))

    Name  Age  Salary Department
0    ram   12   20000         hr
1  shyam   15    3000       dept

In [7]:
print (df)

    Name  Age  Salary Department
0    ram   12   20000         hr
1  shyam   15    3000       dept

In [8]:
from sqlalchemy import create_engine

In [10]:
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="root",
                               pw="anil",
                               db="classicmodels"))

In [11]:
df.to_sql('details', con = engine, if_exists = 'append', chunksize = 100)